@font-face {
	font-family: CRC35;
	font-display: swap;
	src: url("../fonts/CRC35.woff2")format("woff2"), url("../fonts/CRC35.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CRC25;
	font-display: swap;
	src: url("../fonts/CRC25.woff2")format("woff2"), url("../fonts/CRC25.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CRC55;
	font-display: swap;
	src: url("../fonts/CRC55.woff2")format("woff2"), url("../fonts/CRC55.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CRC65;
	font-display: swap;
	src: url("../fonts/CRC65.woff2")format("woff2"), url("../fonts/CRC65.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
