.footer {
    width: 100%;
    left: 0;
    top: 170px;
    position: relative;
}
.footer__wrapper {
    left: 0;
    top: 0;
    width: 100%;
}
.footer__container {
    background-color: #f1f1f1;
}
.footer__body {
    align-items: center;
}
.footer__upper {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("padding-top", 60, 0, 1);
    @include adaptive-value("padding-bottom", 60, 0, 1);
    border-bottom: 1px solid rgb(184, 179, 179);
    @include adaptive-value("gap", 69, 0, 1);
}
.footer__firstBlock {
}
.footer__title {
    font-weight: 700;
    @include adaptive-value("font-size",20 ,15 ,1 );
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    @include adaptive-value("margin-bottom",25 ,0 ,1 );
}
.footer__contactUs {
     @media (max-width: $md2) {
        display: flex;
        justify-content: space-around;
     }
}
.footer__location {
}
._icon {
}
.footer__link {
    transition: all 0.3s ease 0s;
    &:hover {
        color: #ec1b2e;
    }
}
.universal__link {
}
._icon-location {
}
.footer__phone {
}
._icon-phone {
}
.footer__email {
}
._icon-email {
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("margin-top",40 ,20 ,1 );
}
.footer__wk {
}
._icon-wk {
}
.footer__youTube {
}
._icon-youtube {
}
.footer__telegram {
}
._icon-telegram {
}
.footer__wechat {
}
._icon-bi_wechat {
}

.footer__blocks {
    max-width: 230px;
    @media (max-width:1080px) {
        & .footer__title {
            cursor: pointer;
        }
       & .footer__list {
        top: -100%;
        position: relative;
       }
    }
}
.footer__list {
   
}
.footer__item {
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    &:not(:first-child) { 
       @include adaptive-value("margin-top",15 ,0,1 );
    }
}
.footer__thirdBlock {

}
.footer__subBlockOne {
    @include adaptive-value("margin-bottom",25 ,0 ,1 );
}
.footer__subBlockTwo {
    
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: #333333;
    font-size: 14px;
    line-height: 140%;
}
