.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.header__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.header__body {
    min-height: 140px;
    align-items: center;
    position: relative;
}
.header__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 10;
    background-color: #fff;

}
.goo {
    width: 35px;
}
.header__title {
    color: #ec1b2e;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    position: relative;
}
._icon-email:before,
._icon-phone:before,
._icon-location:before {
    @include adaptive-value("margin-right", 25, 15, 1);
}
.header__contactUs {
    transition: all 0.5s ease 0s;
    display: flex;
    & ._icon {
        @include adaptive-value("margin-right", 45, 15, 1);
        transition: all 0.5s ease 0s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            & .header__link {
                color: #ec1b2e;
            }
            transform: scale(1.1);
        }
        @media (max-width: $md2) {
            @include adaptive-value("margin-right", 110, 80, 1);
            transform: scale(1.8);
        }
    }

    & .header__link {
        @media (max-width: $md2) {
            & span {
                display: none;
            }
        }
    }
    @media (max-width: $md3) {
        top: -100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        align-items: stretch;
        background-color: #ec1b2e;
        color: white;
        border-radius: 5px;
        padding: 8px;
        border-top: 2px solid white;
        & ._icon {
            transform: scale(1);
            margin-right: 0;
            @include adaptive-value("padding-right", 11, 21, 1);
            &:not(:last-child) {
                padding-bottom: 5px;
            }
            &:hover {
                transform: scale(1.05);
            }
        }
        & .header__link span {
            display: inline-block;
            color: white;
            font-size: 10px;
        }
    }
    @media (max-width:470px) {
        
    }
    &._active {
        top: 39px;
    }
}
.header__link {
    transition: all 0.5s ease 0s;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.header__burger {
    z-index: 3;
    display: flex;
    align-items: center;
    @media (max-width: $md3) {
        background-color: #ec1b2e;
    }
}
.header__burger-button {
    display: none;
    @media (max-width: $md3) {
        margin-left: 10px;
        margin-right: -5px;
        position: relative;
        display: block;
        background-color: #ec1b2e;
        width: 30px;
        flex: 0 0 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        transition: all 0.5s ease 0s;
        span {
            transition: all ease 0.5s ease 0s;
            top: calc(50% - 1px);
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
            left: 0;
            &:first-child {
                top: 0;
            }
            &:last-child {
                bottom: 0;
                top: auto;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}
.header__burger-text {
    padding: 10px 20px;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: white;
    background-color: #ec1b2e;
    transition: all 0.5s ease 0s;
    & a {
        color: #fff;
    }
}

.header__bottom-nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: all 0.4s ease 0s;
    border-top: 1px solid rgb(184, 179, 179);
    @media (max-width: 1150px) {
        & .header__logo-buttons {
            cursor:pointer;
        }
        flex-direction: column;
        
        & .navigation {
            z-index: -1;
            position: absolute;
            top: -100%;
        }
        &._active {
            background-color:#ec1b2e;
            .header__logo-red {
                display: none;
            }
            .header__logo-white {
                display:block;
            }
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            left: 0;
            & .navigation {
                top: 20%;
                .navigation__list {
                    margin-top:-40px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    @include adaptive-value("row-gap",45 ,10 , 1);
                    grid-template-rows: 1fr 1fr 1fr;
                    justify-items: center;
                    & a {
                        color:#fff;
                    }
                    @media (max-width:600px) {
                        display: flex;
                        flex-direction: column;
                    }
                    @media (max-width:$md4) {
                        overflow: hidden;
                        a {
                            font-size: 25px;
                            
                        }
                        li {
                            &:not(:last-child) {
                                margin-bottom:5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header__logo {
    transition: all 0.5s ease 0s;
}
.header__logo-red {
}
.header__logo-white {
    display: none;
}
.header__navigation {
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1150px) {
        flex-direction: column;
    }
}
.navigation__list li {
    @media (min-width: 1150px) {
        & a:hover {
            color: #ec1b2e;
            transition: 0.3s;
        }
    }
    &:not(:last-child) {
        @include adaptive-value("margin-right", 20, 10, 1);
    }
}
.navigation__list a {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.navigation__item {
}
.navigation__link {
}
